# MQTT Broker Configuration
MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_USERNAME=your_username
MQTT_PASSWORD=your_password
MQTT_CLIENT_ID=iot-backend

# Application
PORT=3000
NODE_ENV=development

# MQTT Topics
SENSOR_TOPIC=sensor/data
SYSTEM_CONTROL_TOPIC=system/control
SYSTEM_STATE_TOPIC=system/state
# device/init/request  ← ESP32 publishes on reconnect
# device/init/response ← Backend responds with all device states from DB

# Database (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=iot_user
DB_PASSWORD=your_password
DB_NAME=iot_db
